  <div id="modal-invalid-channel" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">That Channel Doesn't Exist</h4>
        </div>
        <div class="modal-body">
          <p>The channel you have entered does not exist in the Progressive Coders Slack Workspace. Think there's been a mistake? contact <a href="mailto:admin@progcode.org">admin@progcode.org</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>