<h1>New Project</h1>

  <div id="modal-invalid-skill" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Invalid Skill</h4>
        </div>
        <div class="modal-body">
          <p>You can only add a skill that is already in our directory. If you think we have left out an important skill, please let us know at <a href="mailto:admin@progcode.org">admin@progcode.org</a> .</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


<%= render 'form' %>

