
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ProgCode!</h1>
    <p>
      We have received a registration form from this e-mail address. We will look over your information and get back to you shortly.
    </p>
    <p>
      If you did not submit an application, or if you wish to amend any of the information you provided us, please contact us at <%= mail_to "admin@progcode.org", "admin@progcode.org" %>.
    </p>

  </body>
</html>