<div class="container">
  <h1>Search Results</h1>
  <% @results.each do |type, res| %>
  <div class="row">
    <h3 class="mt-5"><%= type %></h3>
    <hr />
    <% res.each do |obj| %>
      <div class="card w-100 mt-4">
        <div class="card-body">
          <h5 class="card-title"><%= link_to obj.name, [:dashboard, obj] %></h5>
          <p class="card-text"><%= obj.try(:description) %></p>
        </div>
      </div>

    <% end %>
  </div>
  <% end %>
</div>

