<h2>Thank you for registering ProgBot. We will look over your application and contact you if we have any additional questions. Otherwise, keep an invitation out for an e-mail invitation to our slack team</h2>
