<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center">Volunteer Registration</h1>

      <p class="lead">
        Welcome to Progbot! You are already a member of the Progressive Coders, but have not yet opted in to Progbot, our anonymized skills directory. By opting in, you would be agreeing to be listed in our anonymized database of project volunteers. Project managers will be able to anonymously view your skills and contact you.
      </p>
      <p class="lead">
        You would also be able to create your own projects and anonymously search for users according to their skillset and contact them.
      </p>
      <p class="lead">
        Check the box if you would like to Opt in to the anonymized skills directory. Otherwise, just click the button to continue to ProgBot.
      </p>

<%= simple_form_for current_user, :url => dashboard_user_path, :html => { :method => "put" } do |f| %>
  <%= f.error_notification %>

  <%= f.input :optin, :label => "Opt In to Anonymized Member Skills Directory" %>
  <hr />

  <%= f.button :submit, "Continue to ProgBot" %>
  <hr />
<% end %>

<script type="text/javascript">
  Users.init_form()
</script>
