<h1>Tech Skills</h1>
  <ul>
    <% collection.tech_skills.each do |tech_skill| %>
    <li><%= link_to tech_skill.name, tech_skill %></li>
    <% end %>
  </ul>

<h1>Non Tech Skills</h1>
    <ul>
    <% collection.non_tech_skills.each do |non_tech_skill| %>
    <li><%= link_to non_tech_skill.name, non_tech_skill %></li>
    <% end %>
  </ul>
