<h1><%= resource.name %></h1>

<h2>Projects Using this Skill</h2>

<ul>
  <% resource.projects.each do |project| %>
    <li> <%= link_to project.name, project %></li>
  <% end %>
</ul>

<h2>Projects Needing this Skill</h2>
<ul>
  <% resource.project_needs.each do |project| %>
    <li><%= link_to project.name, project %></li>
<% end %>
</ul>