<h1>Welcome to Progbot</h1>
<br>
<%# <h2>New to ProgCode?</h2>
<h3><%= link_to "Sign Up", new_user_path %></h3>
<%# <br>
<h2>Already a ProgCode Member?</h2> %>
  <a href="/devise/auth/slack"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
