
<h2 style="line-height:32px;">You Are Already A Member of the Progressive Coders Network!</h2>
<p>
  Someone just filled out an application to the Progressive Coders Network using this email address. If this was you, we have good news! You are already a member of the Progressive Coders Network.
</p>
<p>You can sign into ProgBot, our anonymized skills directory, <a href="https://progressive-coders-bot.herokuapp.com/">here</a>.
</p>
<p>
  Or, visit <a href="https://progcode.slack.com">this link</a> to sign into the Progressive Coders slack workspace.
</p>
<p>
  Need help with your Slack credentials, or didn't submit another application? contact us at <a href="mailto:admin@progcode.org">admin@progcode.org</a>.
</p>