
<h2 style="line-height:32px;">We Have Updated Your Application Information</h2>
<p>
  Someone just filled out an application to the Progressive Coders Network using this email address. Since an application was previously submitted using this email address, we have updated the information we have on file.
</p>
<p>
  Want to check on the status of your application, or think there's been a mistake? Contact us at <a style="color:#ea098c;" href="mailto:admin@progcode.org">admin@progcode.org</a>.
</p>
      
  