<h2 style="line-height:32px;">A New User Has Signed Up</h2>

<p><%= @user.name %> has just signed up to be a member of the Progressive Coders Network. View their Information <%= link_to 'Here', admin_user_url(@user) %></p>