<h2 style="line-height:32px;">You Have a New Volunteer!</h2>

<p><%= link_to @user.name, 'slack://user?team=T1KR8AG7J&id=' + @user.slack_userid %> has just signed up to volunteer for "<%= @project.name %>". To approve their volunteering, click <%= link_to 'here', edit_dashboard_volunteering_url(@volunteering)%>.</p>