<h2 style="line-height:32px;">We Have Received Your New Project</h2>

<p>We have received your new project submission, named "<%= @project.name %>". We will look over it and get back to you shortly. In the meantime, you can view and edit your project <%= link_to 'Here', dashboard_projects_url %></p>