
<h2>We Received Your Application</h2>
<p style="line-height:20px;">
  Thank you for registering with the Progressive Coders Network. We will look over your application and contact you if we have any additional questions. Otherwise, keep an eye out for an e-mail invitation to our slack team
</p>