<h2 style="line-height:32px;">A New Project Has Been Created</h2>

<p><%= @user.name %> has just created a new project, named "<%= @project.name %>". View more about it <%= link_to 'Here', admin_project_url(@project) %>.</p>