<h2 style="line-height:32px;">Your Project's Misison Aligned Status has Changed</h2>

<p>The Mission Aligned Status of your project <%= @project.name %> has just been changed. It has changed from <%= @mission_aligned_was %> to <%= @project.mission_aligned_status %>. View your project and edit it <%= link_to 'Here', dashboard_projects_url %>.</p>